/****************
Background & Body
****************/

body {
	width: 100%;
	height: 100%;
	background:; rgba(255, 255, 255, .8);
	background-image: url("../images/puppybackground.jpg");
	background-repeat: no-repeat;
	background-size: 97em 46.15em;
	background-attachment: fixed;
	margin: 0 0;
}

#websiteLogoOrName {
	position: absolute;
	bottom: 3em;
	left: 2em;
	font-size: 3em;
}

/*************
Navigation Bar
*************/
nav {
	position: fixed;
	bottom: 2.5%;
	background: rgba(255, 255, 255, .5);
	width: 100%;
	height: 5em;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
nav ul li {
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
}
nav ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 1.5em;
	color: black;
}
nav ul li:hover {
	background: rgba(0, 0, 0, 0.6)
}
nav ul li:hover a {
	color: white;
}
footer {
	position: fixed;
	background: rgba(255, 255, 255, .5);
	width: 100%;
	height: 2.5%;
	bottom: 0;
	margin: 0;
	text-align: center;
}


/****************************
FAQs Page Styling
****************************/

.contentSection {
	background: rgba(255, 255, 255, .8);
	width: 79%;
	margin: 2.5% 9%;
	padding: 1%;
	border: 2px solid lightgrey;
}

.contentSection h3 {
	text-align: center;
}

/****************************
Contact Us
****************************/


.my-div{
	font-family: Tahoma;
	font-weight: bold;
}
img.contactus{
	width: 20%;
	height: 18%;
}
=======
.contact-Section h4 {
	margin-bottom: 0;
}

.contact-Section p {
	margin-bottom: 2%;
}

#Contact-Section {
	background: rgba(255, 255, 255, .8);
	width: 79%;
	margin: 0 9% 10.5%;
	padding: 1%;
	border: 2px solid lightgrey;
}

/****************************
About Us Page Styling
****************************/

.aboutuslinks {
	text-decoration: none;
}

.aboutussection {
	background: rgba(255, 255, 255, .8);
	width: 79%;
	margin: 2.75% 9%;
	padding: 1%;
	border: 2px solid lightgrey;
}

.aboutussection h3 {
	text-align: center;
}

.aboutussection h4 {
	margin-bottom: 0;
}

.aboutussection p {
	margin-bottom: 2%;
}

#bottomsection {
	background: rgba(255, 255, 255, .8);
	width: 79%;
	margin: 0 9% 10.5%;
	padding: 1%;
	border: 2px solid lightgrey;
}

/***************
Products Styling
***************/
#puppies div {
	background: rgba(255, 255, 255, .8);
	padding: 1%;
	border: 2px solid lightgrey;
	float: left;
	width: 28%;
	margin: 2% 1.5% 11%;
}
#puppies img {
	width:100%;
	height: auto;
}
